
.vscode/

typo3conf/autoload/

typo3conf/sites/

typo3conf/PackageStates.php

typo3conf/ENABLE_INSTALL_TOOL

typo3conf/LocalConfiguration.php

typo3conf/ext/cobj_xpath/

typo3conf/ext/cobj_xslt/

typo3conf/ext/file_list/

typo3conf/ext/manuscript_hero_image/

.DS_Store

logs/

.log

github_webhook.php
